<div id="container" ng-controller="ChatController as chat">
  <div id="content" ng-init="chat.initialize()">
    <ul ng-repeat='message in messages'>
      <li>
        <span style="color:{{ message.color }}">{{ message.author }}</span> @ {{ message.text }}
      </li>
    </ul>
  </div>
  <div>
    <span ng-show="chat.isState('connecting')">Connecting...</span>
    <span ng-show="chat.isState('errorCorrupted')">Error</span>
    <div ng-show="chat.isState('waitingForName')">
      <span>Choose name:</span>
      <input type="text" id="userName" ng-keydown="chat.setUserName($event)" ng-model="chat.userName" />
    </div>
    <div ng-show="chat.isState('active')">
      <span style='color: {{ userColor }};'>{{ chat.userName }}:</span>
      <input type="text" id="messageText" ng-keydown="chat.sendMessage($event)" ng-model="chat.currentMessage" />
    </div>
  </div>
</div>

