<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Abutria.ru</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class="{ active:navigation.isCurrentPage('index') }">
          <a href="#" ng-click="navigation.setCurrentPage('index')">Chat</a>
        </li>
        <li ng-class="{ active:navigation.isCurrentPage('history') }">
          <a href="#" ng-click="navigation.setCurrentPage('history')">History</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

